 body{
    background-color: black;
}
.gifs{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gif{
    padding: 3px;
}
.Loader{
    color: red;
}

.form-control{
   position: absolute;

   

}

input[type=text]{
    width: 100px;
    font-size: 17px;
    
} 
